
/*
 Stili per il layout fisso
*/

#page {
    width: 980px;
    margin:auto;
}


div #menu li {
    width: 100px;
}

#sidebar1 {
    float: left;
    width: 200px;
    
}

#sidebar2 {
    float: right;
    width: 200px;
}

#content {
    margin-left: 210px;
    margin-right: 210px;
   

}



