
/*
 Stili per il layout fluido
*/

div #menu ul {
    width: 100%;
}

div #menu li {
    width: 7em;
}

#sidebar1 {
    float: left;
    width: 20%;
}

#sidebar2 {
    float: right;
    width: 20%;
}

#content {
    margin-left: 20%;
    margin-right: 21%;
}



