

/*
    Stili in comune fra il layout fisso e quello fluido
*/

body {
    padding: 0;
    font: 14px Arial, Helvetica, sans-serif;
    color: black;

}

#header {
    color: #ffffff;
}

#logo {
    background-color: #1c345a;
    padding: 5px;
}

#logo h1 {
    background-image: url('../images/logo.jpg');
    background-repeat: no-repeat;
    background-position: center left;
    height: 100px;
    vertical-align: middle;
    padding-left: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 100px;
    color: #ffffff;
}

div#header p {
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#menu {
    margin: 0px;
    background-color: #1c345a;
    text-align: right;
    border-left:1px solid #1c345a;
    border-right:1px solid #1c345a;
}

#page {
    border-left:2px solid #1c345a;
    border-right:2px solid #1c345a;
    margin-top: 0px;
    border-top: 1px solid #1c345a;
    border-bottom: 1px solid #1c345a;
}

div #menu ul {
    margin: 0px;
    display: block;
    padding: 0px;
    border-bottom:10px solid #9e1616;
}

div #menu li {
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
    padding: 5px;
    background-color: #9e1616;
    border-left: 1px solid #1c345a;
    text-align:center;
}

div #menu li a:link, div #menu li a:visited {
    color: #ffffff;
    text-decoration: none;
}

div #menu li a:hover {
    color: #ffffff;
    font-weight: bold;
}


#sidebar1, #sidebar2{
    padding: 0px;
}

#sidebar1 li {
    list-style: none;
}

#sidebar2 ol  {
    padding-left: 20px;
}

#sidebar2 h2{
    background-image: url('../images/help-mini.png');
}

#sidebar1 ul, #sidebar2 ul{
    padding-left: 10px;
    margin-top: 0px;
    margin-left: 0px;
}


.icon-title{
    padding-left: 38px;
    background-repeat: no-repeat;
    vertical-align: middle;
    padding-top: 3px;
    margin-top: 15px;
}

#categories h2{
    background-image: url('../images/navigazione-mini.png');
}

#external h2{
    background-image: url('../images/ext-mini.png');

}

#h-personali{
    background-image: url('../images/anagrafica-mini.png');
}

#h-home{
    background-image: url('../images/home-mini.png');
}

#h-esami{
    background-image: url('../images/libretto-mini.png')
}

#h-iscrizione{
    background-image: url('../images/iscrizione-mini.png')
}

#h-cerca{
    background-image: url('../images/cerca-mini.png')
}

#h-dip{
    background-image: url('../images/exec-mini.png')
}

a:link{
    text-decoration: underline;
    color: #9e1616;
}

a:visited{
    text-decoration: underline;
    color: #9e1616;
}

a:hover{
    font-weight: bold;

}

.current_page_item{
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: #1c345a;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    margin-bottom: 0px;
}


input{
    border: 1px solid #1c345a;
}

input[type=submit], button{
    color: #ffffff;
    background-color: #1c345a;
    height: 2em;
    font-weight: bold;
    border-radius: 1em;
    border: 1px solid #1c345a;
    min-width: 100px;
    margin-bottom: 10px;
    margin-top: 5px;

}

input[type=submit]:hover, button:hover{
    text-decoration: underline;
    cursor: pointer;
}

ol {
   line-height: 1.3; 
}

.error li {
    list-style: none;
}


input:focus{
    border: 2px solid #9e1616;
}

#content {
    border-left: 1px solid #1c345a;
    border-right: 1px solid #1c345a;
    padding: 10px;
    min-height: 500px;
}

.panel, .panel-mini{
    list-style: none;
    margin: 0px;
    padding: 0px;
}


.panel li{
    display: block;
    width: 400px;
    height: 130px;
    margin:auto;
    margin-top: 15px;
    border: 1px solid #1c345a;
    position: relative;
}

.panel-mini li{
    display: block;
    width: 45%;
    height: 130px;
    float: left;
    margin: 10px;
    border: 1px solid #1c345a;
    position: relative;
}

.panel-mini li a{
    display: block;
    position: absolute;
    padding-left: 130px;
    height: 130px;
    padding-top:25px;
    font-size: 1.2em;
}

.panel li a{
    display: block;
    position: absolute;
    /* per allineare il testo a meta' di un block il trucco e' usare
       una line-height della stessa altezza del blocco */
    line-height: 130px;
    vertical-align: middle;
    padding-left: 150px;
    font-size: 1.2em;
}

.panel li a:link, .panel-mini li a:link{
    text-decoration:  none;
    color: #9e1616;
}




#pnl-anagrafica{
    background-image: url('../images/anagrafica.png');
    background-repeat: no-repeat;

}

#pnl-anagrafica-docenti{
    background-image: url('../images/anagrafica.png');
    background-repeat: no-repeat;

}

#pnl-anagrafica-studenti{
    background-image: url('../images/anagrafica.png');
    background-repeat: no-repeat;

}

#pnl-libretto{
    background-image: url('../images/libretto.png');
    background-repeat: no-repeat;

}

#pnl-iscrizione{
    background-image: url('../images/iscrizione.png');
    background-repeat: no-repeat;

}

#pnl-cerca{
    background-image: url('../images/cerca.png');
    background-repeat: no-repeat;

}

#pnl-dipartimenti{
    background-image: url('../images/exec.png');
    background-repeat: no-repeat;

}

.none{
    list-style: none;
}
.no-space{
    padding: 0px;
    margin: 0px;
}

.input-form{
    line-height: 3em;
    border-bottom: 1px solid #1c345a;
}

.prev-steps{
    border-bottom: 1px solid #1c345a;
}

label.full{
    display: inline-block;
    width: 70%;
}

label{
    display: inline-block;
    width: 39%;
}


.input-form input[type=text], .input-form input[type=password]{
    display: inline-block;
    width:59%;
}

.input-form select{
    display: inline-block;
    width:59%;
    border: 1px solid #1c345a;
    background-color: #ffffff;
}

.input-form input[type=submit], .input-form button{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    
}

.btn-group input[type=submit], .btn-group button{
    display: inline-block;
}

.btn-group{
    text-align: center;
}

/* stile delle tabelle */

table {
    border: 1px solid #1c345a;
    border-collapse: collapse;
    margin-top:10px;
    line-height: 1.2em;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
}


th, td {
    border: 1px solid #1c345a;
    border-collapse: collapse;
    text-align: center;
}

th{
    background-color: #1c345a;
    color: white;
    font-weight: bold;
}

.esami-col-small{
    width: 10%;
}

.esami-col-large{
    width: 15%;
}

.iscrizione-col-small{
    width: 9%;
}

.iscrizione-col-large{
    width: 20%;
}

.reg-col-small{
    width: 10%;
}

.reg-col-large{
    width: 20%;
}

.commissione-col{
    width: 50%;
}

tr, td{
    background-color: #e8ebee;
}

tr.alt-row, tr.alt-row td{
    background-color: #bbc2ce;
}

/* stile del footer*/

#footer {
    padding: 10px 0 10px 0;
    background: #1c345a;
}

#footer p {
    margin-bottom: 1em;
    text-align: center;
    line-height: normal;
    font-size: .9em;
    color: #BABABA;
}

#footer a {
    padding: 0 20px;
    text-decoration: none;
    color: #DDDDDD;
}

#footer a:hover {
    color: #FFFFFF;
}



#footer .xhtml {
    background: url('../images/img19.gif') no-repeat left center;
}

#footer .css {
    background: url('../images/img20.gif') no-repeat left center;
}


/* stile per i messaggi di errore */

.error{
    width: 90%;
    background-color: #f5a5a5;
    border: 5px solid #9e1616;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.error div{
    margin: 0px;
    background: url('../images/no.png') no-repeat left top;
    min-height: 32px;
    
}

/* stile per i messaggi di conferma */

.confirm{
    width: 90%;
    background-color: #c7edce;
    border: 5px solid #36956e;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.confirm div{
    margin: 0px;
    background: url('../images/ok.png') no-repeat left top;
    min-height: 32px;
}

/* stile per il logout */

p.logout a:link, p.logout a:visited{
    color: white;
    padding-left: 18px;
    
    
}
p.logout{
    background: url('../images/logout.png') no-repeat left center;
    border-top: 10px solid #1c345a;
}

/*stili per il wizard */

.inline{
    display: inline;
}

.avanti{
    float:right;
}

.indietro{
    float:left;
}

.clear{
    clear: both; 
    width: 0px; 
    height: 0px;
}

select.menu {
	display: none;
}

@media only screen and (min-width: 1024px) {

#page {
    width: 980px;
    margin:auto;
}


div #menu li {
    width: 100px;
}

#sidebar1 {
    float: left;
    width: 200px;
    
}

#sidebar2 {
    float: right;
    width: 200px;
}

#content {
    margin-left: 210px;
    margin-right: 210px;
   

}

}

@media only screen and (min-width: 480px) and (max-width: 1024px){

div #menu ul {
    width: 100%;
}

div #menu li {
    width: 7em;
}

#sidebar1 {
    float: left;
    clear:both;
    width: 30%;
}

#sidebar2 {
    float: left;
	clear:both;
    width: 30%;
}

#content {
    margin-left: 30%;
}

}

@media only screen and (max-width: 480px){
	#content {
		border: 0px solid white;
	
	}

	#sidebar2 {
		width: 100%;
	}

	#sidebar1 {
		display: none;
	}

	select.menu{
		display: block;
		width: 100%;
		 background-color: #9e1616;
		font-size: 14pt;
		color: white;
   		 text-align: right;
    		border-left:1px solid #1c345a;
   		 border-right:1px solid #1c345a;
	}

	#menu{
		display: none;
	}

	.panel li{
		width: 90%;
		margin-left: auto;
	}
}


